<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
    <%= image_tag current_admin.avatar.url(:top_bar), 
      class: 'admin_avatar' if current_admin.avatar.present? %>
    <%= current_admin.email %> 
  	<b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to 'Настройки', '#' %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to 'Выход', destroy_admin_session_url, method: :delete %>
    </li>
  </ul>
</li>