<div class="well" id='left_sidebar'>
  <ul class="nav nav-list">
    <li class="nav-header"></li>
    <li class="<%= is_active_tab?('posts') %>">
      <%= link_to "Планерка (на сегодня #{ScheduledPost.unpublished.count})", posts_url %>
    </li>
    <li class="<%= is_active_tab?('publics') %>">
      <%= link_to "Паблики (#{Public.count})", publics_url %>
    </li>
    <li class="<%= is_active_tab?('generators') %>">
      <%= link_to "Генераторы (#{Group.count})", groups_url %>
    </li>
    <li class="<%= is_active_tab?('accounts') %>">
      <%= link_to "Аккаунты (#{Account.count})", accounts_url %>
    </li>
    <li class="<%= is_active_tab?('templates') %>">
      <%= link_to "Шаблоны (#{InviteTemplate.count})", invite_templates_url %>
    </li>    
  </ul>
</div>