<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= render 'components/collapse_navbar' %>
      <%= render 'components/logo' %>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <%= render 'components/search_form' %>
        <ul class="nav pull-right">
          <% if admin_signed_in? %>
            <li class="divider-vertical"></li>
            <%= render 'components/admin_bar' %>
          <% else %>
            <li><%= link_to 'Войти', new_admin_session_url %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>