<%= form_for(@public) do |f| %>
  <% if @public.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@public.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @public.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vk_id, 'ID паблика' %><br />
    <%= f.text_field :vk_id %>
  </div>

  <div class="field">
    <%= f.label :account_id, 'Admin Аккаунт' %><br />
    <%= f.select :account_id, Account.scoped.collect { |a| [ a.full_name, a.id ] } %>
  </div>  

  <%= f.submit 'Сохранить', class: 'btn btn-info btn-small' %>
<% end %>
