<li class="span3">
  <div class="thumbnail">
    <%= link_to '#', class: "review" do %>
    	<p class='preview_container'>
    	  <% if post[:photo].present? %>
          <%= image_tag post[:photo][:big] %>
        <% else %>
          <%= post[:text] %>
        <% end %>
      </p>
    <% end %>
    <div class="caption">
      <h6><%= post[:date].strftime("%Y-%m-%d, %H:%M") %></h6>
      <p>
      	<%= link_to '#', class: 'btn btn-mini btn-primary' do %>
          <i class='icon-eye-open'></i> Паблиш
        <% end %>
        <%= link_to '#', class: 'btn btn-mini btn-primary review', role: "button", "data-toggle" => "modal" do %>
          <i class='icon-eye-open'></i> Посмотреть
        <% end %>
      </p>
    </div>
  </div>
</li>