<h4>Паблики</h4>

<%= link_to 'Добавить', new_public_path, class: 'btn btn-mini btn-primary' %><br />

<div class="row-fluid"><br />
  <ul class="thumbnails">
    <% @publics.each do |public| %>
      <li class="span3">
        <div class="thumbnail">
          <%= link_to public_url(public) do %>
            <%= image_tag public.avatar.url(:thumb) %>
          <% end %>
          <div class="caption">
            <h6>
              <%= public.name %><br />
              ID: <%= public.vk_id %>
            </h6>
            <p>
              Admin name: <br />
              <%= public.account.full_name %>
            </p>
            <p>
              <%= link_to "http://vk.com/#{public.short_name}", class: 'btn btn-mini btn-info' do %>
                <i class='icon-eye-open'></i> на VK
              <% end %>
              <%= link_to public_url(public), method: :delete, class: 'btn btn-mini btn-danger' do %>
                <i class='icon-remove'></i>
              <% end %>
            </p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
