<%
  ops = {
    vk_post_id: post[:post_id],
    group_id: post[:group_id],
    photo: post[:photo].present? ? post[:photo][:big] : nil,
    text: post[:text]}
%>

<li class="span3">
  <div class="thumbnail">
    <%= link_to '#', class: "review" do %>
    	<p class='preview_container'>
          <%= link_to new_post_url(ops), remote: true do %>
      	  <% if post[:photo].present? %>
            <%= image_tag post[:photo][:big] %>
          <% else %>
            <%= post[:text].html_safe %>
          <% end %>
        <% end %>
      </p>
    <% end %>
    <div class="caption">
      <h6><%= post[:date].strftime("%Y-%m-%d, %H:%M") %></h6>
        <ul style='height: 20px; margin-bottom: 10px;'>
          <% publics = Public.select{ |p| p.posts.where(vk_post_id: post[:post_id]).present? } %>
          <% publics.each do |p| %>
            <li><%= p.name %></li>
          <% end %>
        </ul>
      <p>
      	<%= link_to new_post_url(ops), remote: true, class: 'btn btn-mini btn-primary' do %>
          <i class='icon-eye-open'></i> Паблиш
        <% end %>
        <%= link_to new_post_url(ops), remote: true, class: 'btn btn-mini btn-primary' do %>
          <i class='icon-eye-open'></i> Посмотреть
        <% end %>
      </p>
    </div>
  </div>
</li>