<h4>Генераторы</h4>

<%= link_to 'Добавить', new_group_path, class: 'btn btn-mini btn-primary' %><br />

<div class="row-fluid"><br />
  <ul class="thumbnails">
    <% @groups.each do |group| %>
      <li class="span3">
        <div class="thumbnail">
          <%= link_to group_url(group) do %>
            <%= image_tag group.avatar.url(:thumb) %>
          <% end %>
          <div class="caption">
            <h6><%= group.name %></h6>
            <p>
              <%= link_to group_get_people_url(group), class: 'btn btn-mini btn-info' do %>
                <i class='icon-eye-open'></i> Выгрузить Подписчиков
              <% end %>
              <%= link_to group_url(group), class: 'btn btn-mini btn-primary' do %>
                <i class='icon-eye-open'></i> Посты
              <% end %>
              <%= link_to "http://vk.com/#{group.short_name}", class: 'btn btn-mini btn-info' do %>
                <i class='icon-eye-open'></i> на VK
              <% end %>
              <%#= link_to group_url(group), method: :delete, class: 'btn btn-mini btn-danger' do %>
               <!-- <i class='icon-remove'></i> -->
              <%# end %>
            </p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
