<%= link_to 'Назад', groups_path, class: 'btn btn-info btn-mini' %><br /><br />

<div class="well">
  <%= image_tag @group.avatar.url(:detail) %>
  <div class="caption">
    <h6><%= @group.name %></h6>
    <p><strong><%= @group.people.count %></strong> <%= Russian.p(@posts.count, "подписчик", "подписчикa", "подписчиков") %></p>
  </div>
</div>

<div class='group_posts'>
  <div class="row-fluid"><br />
	<ul class="thumbnails">
      <% @posts.each do |post| %>
        <%= render 'groups/item', post: post %>
	  <% end %>
	</ul>
  </div>
</div>