<h6>Группы</h6>

<div class="row-fluid">
<ul class="thumbnails">
  <% %>
  <li class="span3">
    <div class="thumbnail">
      <img alt="300x200" data-src="holder.js/300x200" style="width: 300px; height: 200px;" src="">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>tet</p>
        <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
      </div>
    </div>
  </li>
</ul>
</div>