<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @template.title %>
</p>

<p>
  <b>Content:</b>
  <%= raw @template.content %>
</p>

<p>
  <%= image_tag @template.image.url %>
</p>


<%= link_to 'Edit', edit_invite_template_path(@template) %> |
<%= link_to 'Back', invite_templates_path %>
