<%= form_for post, html: { multipart: true, remote: true, style: 'margin-bottom: 0px;' } do |f| %>
  <%= f.hidden_field :vk_post_id, value: params[:vk_post_id] %>
  <%= f.hidden_field :group_id, value: params[:group_id] %>
  <%= f.hidden_field :remote_photo_url, value: params[:photo] %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Новый Пост</h3>
  </div>
  <div class="modal-body">
    <%= image_tag params[:photo], class: 'post_preview' if params[:photo].present? %>
    <div class="control-group">
      <label for="inputEmail" class="control-label">Текст</label>
      <div class="controls">
        <%= f.text_area :text,
          value: params[:text].present? ? params[:text].html_safe : nil,
          rows: 4, style: 'width: 250px;' %>
      </div>
    </div>
    <div class="control-group">
      <label for="inputEmail" class="control-label">Паблик</label>
      <div class="controls">
        <%= f.select :public_id, Public.select{ |p| p.posts.where(vk_post_id: params[:vk_post_id]).blank? }.collect { |a| [ a.name, a.id ] } %>
      </div>
    </div>
    <div class='clear'></div>
    <div class="control-group" id='post_date_block'>
      <label class="control-label">Дата</label>
      <div class="controls">
        <%= f.date_select :publish_date, default: Date.today %>
      </div>
    </div>
    <div class="control-group" id='post_time_block'>
      <label class="control-label">Время</label>
      <div class="controls">
        <%= f.select :post_date_time, Schedule::POSTING_DATE_TIMES %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit 'Запостить', class: "btn btn-primary" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
<% end %>
