<h4>Планерка</h4>

<div class='group_posts'>
  <div class="row-fluid"><br />
  <ul class="thumbnails">
    <% @posts.each do |post| %>
      <%= render 'groups/item', post: post %>
    <% end %>
  </ul>
  </div>
</div>
