<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @vk_post.text %>
</p>

<p>
  <b>Photo:</b>
  <%= @vk_post.photo %>
</p>


<%= link_to 'Edit', edit_vk_post_path(@vk_post) %> |
<%= link_to 'Back', vk_posts_path %>
