#main_container {
  margin-top: 100px;
  #left_sidebar {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #F9F9F9;
  }
}

div.container {
  a.brand {
    padding-top: 0px;
    padding-bottom: 0px;
    img {
      width: 40px;
    }
  }
}

.code_form.well {
  margin-top: 20px;
  width: 200px;
}

ul.thumbnails li.span3 {
  margin-left: 0px;
  margin-right: 10px;
}

div.thumbnail div.caption h6 {
  height: 40px;
}

body a.btn {
  color: white;
}

div.group_posts div.thumbnail img {
  width: 190px;
}

div.group_posts div.thumbnail .preview_container {
  height: 140px;
  overflow: hidden;
}

div.group_posts div.thumbnail div.caption h6 {
  height: 20px;
}

#left_sidebar {
  li:hover a {
    color: black;
  }
  li.active:hover a {
    color: white;
  }
}

.post_preview {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 30px;
}

.clear {
  clear: both;
}

#post_date_block {
  float: left;
}

#post_date_block select {
  width: 120px;
}

#post_time_block {
  float: right;
}

#post_time_block select {
  width: 120px;
}

.caption.blocked_account {
  background-color: orange;
}

.well.unlock_block {
  margin-bottom: 0px;
  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
  form {
    overflow: hidden;
    margin-bottom: 0px;
  }
}

.gray {
  color: gray;
}