<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Модератор" %></title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_tag "$(function() { #{yield(:javascript_code)} });" if content_for? :javascript_code %>
    <%= csrf_meta_tags %>

    <%#= render 'components/favicons' %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <%= render 'components/top_navigation_bar' %>
    </div>
    <div class="container" id='main_container'>
      <div class="row">
        <div class="span9 pull-right">
          <%= yield %>
          <%= render 'components/modal' %>
        </div>
        <div class="span3 pull-left">
          <%= render 'components/sidebar' if admin_signed_in? %>
        </div>
      </div>
      <%= render 'components/footer' %>
    </div>
  </body>
</html>
