<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vk_id, 'ID пользователя' %><br />
    <%= f.text_field :vk_id %>
  </div>

  <div class="field">
    <%= f.label :phone, 'Телефон пользователя' %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :password, 'Пароль пользователя' %><br />
    <%= f.password_field :password %>
  </div>

  <%= f.submit 'Сохранить', class: 'btn btn-info btn-small' %>
<% end %>
