<% 
  locked = account.locked?
  account.update_attribute(:blocked, locked ? true : false)
%>
<li class="span3" id="<%= dom_id(account) %>">
  <div class="thumbnail">
    <%= link_to account_url(account) do %>
      <%= image_tag account.avatar.url(:thumb) %>
    <% end %>
    <div class="caption <% if locked %>blocked_account<% end %>">
      <h6>
        <%= account.full_name %><br />
        ID: <%= account.vk_id %><br />
        Моб: <%= account.phone %><br />
      </h6>
      <br />
      <p>
        <%= link_to "http://vk.com/id#{account.vk_id}", class: 'btn btn-mini btn-info' do %>
          <i class='icon-eye-open'></i> на VK
        <% end %>
        <% if locked %>
          <%= link_to account_show_unlock_popup_url(account), remote: true, class: 'btn btn-mini btn-success' do %>
            <i class='icon-eye-open'></i> Разблокировать
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</li>