<% 
  new_password = @account.new_password
%>

<div class='well unlock_block'>
  <button type="button" class="close btn pull-right" data-dismiss="modal" aria-hidden="true">Закрыть</button>
  <h4 class='gray'>Для разблокировки аккаунта:</h4><br />
  <ul>
    <li>
      1: Вставьте в телефон сим-карту с номером <strong>"<%= @account.phone %>"</strong>
      и дождитесь пока телефон окончательно включится
    </li>
    <li>
      2: Пройдите по следующему урлу <%= link_to "Пройти", "http://vk.com/id#{@account.vk_id}", "target" => "_blank", class: 'btn btn-info btn-small' %>
      и убедитесь что в текущий момент Вы не под каким аккаунтом не залогинены.
    </li>
    <li>
      3: В поле ввода <strong>"Телефон или email"</strong> введите <strong><%= @account.phone %></strong>
    </li>
    <li>
      4: В поле ввода <strong>"Пароль"</strong> введите <strong><%= @account.password %></strong>
      и нажмите <strong>"Войти"</strong>
    </li>    
    <li>
      5: В открывшейся странице внизу на найдите кнопку <strong>"Отправить"</strong> и нажмите ее.
      Через некоторое время Вам на телефон придет код.
    </li>
    <li>
      6: Введите его в соответствующее поле для кода.
      Затем в поле ввода нового пароля введите вот этот пароль <strong>"<%= new_password %>"</strong>
      и нажмите кнопку, расположенную ниже пароля.
      После этого Вы попадете на страницу разблокированного аккаунта.
      Сразу как Вы на нее попадете - вернитесь на форму разблокировки и нажмите кнопку <strong>"Разблокировать"</strong>
    </li>
  </ul><br />
  <%= form_for(@account, url: account_unlock_url(account_id: @account.id), method: :post, remote: true) do |f| %>
    <%= hidden_field_tag :password, new_password %>
    <%= f.submit 'Разблокировать', class: 'btn btn-success btn-small pull-right' %>
  <% end %>
</div>