<h4>Аккаунты</h4>

<%= link_to 'Добавить', new_account_path, class: 'btn btn-mini btn-primary' %><br />

<div class="row-fluid"><br />
  <ul class="thumbnails">
    <% @accounts.each do |account| %>
      <%= render 'accounts/item', account: account %>
    <% end %>
  </ul>
</div>
